/* Przykład styles.css */

.product-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.product-details {
    flex: 1; /* Rozciąganie do dostępnej przestrzeni */
}

.product-details h2 {
    font-size: 1.2em;
    margin: 0;
}

.product-details p {
    margin: 5px 0;
}
