{% extends 'detailingstore/base.html' %}

{% block content %}
    <h2>Twój profil</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.first_name.label_tag }} {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name.label_tag }} {{ form.last_name }}
        </div>
        <div>
            {{ form.userprofile.address.label_tag }} {{ form.userprofile.address }}
        </div>
        <button type="submit">Zapisz zmiany</button>
    </form>
{% endblock %}
