{% extends 'detailingstore/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

{% block content %}
    <h1>Lista produktów</h1>
    <ul class="product-list">
        {% for product in products %}
            <li class="product-item">
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="product-details">
                    <h2>{{ product.name }}</h2>
                    <p>Cena: {{ product.price }} zł</p>
                    <p>{{ product.description }}</p>
                    <!-- Dodaj więcej pól produktu, jeśli są dostępne -->
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


